# OS X
.DS_Store

# Temporary and backup files
*~
*~.*
*.bak
*.bak.*

# VSCode
.vscode/

# IntelliJ IDEA
.idea/

# Explicitly excluded from version control
*.vcignore
*.vcignore.*

# Misc.
*.log
*.log.*
*.py[co]
*.zip
