<footer id="footer">
  <div class="container clearfix">
    <div class="float-right">
      <img data-src="holder.js/60x60" alt="Website Icon">
    </div>
    <div class="d-none d-sm-block">
      <div class="my-1">Copyright &copy; {% now "Y" %}. All Rights Reserved.</div>
      <ul class="list-inline my-1">
        <li class="list-inline-item first"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
        <li class="list-inline-item"><a href="#">Agreement</a></li>
      </ul>
      <div class="my-1 text-muted">
        Version 1.2.3 &bull; Built and designed by <a href="#">ZHENG Zhong</a>
      </div>
    </div>
  </div>
</footer>
