<section id="form">

  <h2 class="display-4">Form</h2>

  <section>
    <form>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="input-email">Email address</label>
          <input id="input-email" type="email" class="form-control form-control-lg" placeholder="Enter email (.form-control-lg)">
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-6">
          <label for="input-password">Password</label>
          <input id="input-password" type="password" class="form-control form-control-lg" placeholder="Password (.form-control-lg)">
        </div>
      </div>

      <div class="form-group">
        <label for="input-address">Address</label>
        <input id="input-address" type="text" class="form-control" placeholder="Address">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="input-city">City</label>
          <input id="input-city" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="input-state">State</label>
          <select id="input-state" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="input-zip">Zip</label>
          <input id="input-zip" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="input-readonly">Readonly Field</label>
        <input id="input-readonly" class="form-control" type="text" value="Readonly value" readonly>
      </div>

      <div class="form-group">
        <label for="input-textarea">Example textarea</label>
        <textarea id="input-textarea" class="form-control" rows="5"></textarea>
      </div>

      <div class="form-group">
        <label for="input-file">Example file input</label>
        <input id="input-file" type="file" class="form-control-file">
      </div>

      <div class="form-group">
        <div class="form-check">
          <input id="input-checkbox" type="checkbox" class="form-check-input">
          <label class="form-check-label" for="input-checkbox">Default checkbox</label>
        </div>
        <div class="form-check">
          <input id="input-checkbox-disabled" class="form-check-input" type="checkbox" value="" disabled>
          <label class="form-check-label" for="input-checkbox-disabled">Disabled checkbox</label>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input id="input-radio-1" class="form-check-input" type="radio" name="input_radio" value="option1" checked>
          <label class="form-check-label" for="input-radio-1">Default checked radio</label>
        </div>
        <div class="form-check">
          <input id="input-radio-2" class="form-check-input" type="radio" name="input_radio" value="option2">
          <label class="form-check-label" for="input-radio-2">Second option</label>
        </div>
        <div class="form-check disabled">
          <input id="input-radio-3" class="form-check-input" type="radio" name="input_radio" value="option3" disabled>
          <label class="form-check-label" for="input-radio-3">Disabled option</label>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <input id="input-inline-checkbox-1" class="form-check-input" type="checkbox" value="option1">
          <label class="form-check-label" for="input-inline-checkbox-1">Option 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input id="input-inline-checkbox-2" class="form-check-input" type="checkbox" value="option2">
          <label class="form-check-label" for="input-inline-checkbox-2">Option 2</label>
        </div>
        <div class="form-check form-check-inline">
          <input id="input-inline-checkbox-3" class="form-check-input" type="checkbox" value="option3" disabled>
          <label class="form-check-label" for="input-inline-checkbox-3">Option 3 (disabled)</label>
        </div>
      </div>

      <button type="button" class="btn btn-primary mr-2">Save</button>
      <button type="button" class="btn btn-light mr-2">Cancel</button>
      <button type="button" class="btn btn-danger mr-2">Delete (Destructive Action)</button>

    </form>
  </section>

  <section>
    <h3>Horizontal form</h3>
    <form>
      <div class="form-group row">
        <label for="input-horizontal-email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input id="input-horizontal-email" type="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="input-horizontal-password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input id="input-horizontal-password" type="password" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input id="input-horizontal-radio-1" class="form-check-input" type="radio" name="gridRadios" value="option1" checked>
            <label class="form-check-label" for="input-horizontal-radio-1">First radio</label>
          </div>
          <div class="form-check">
            <input id="input-horizontal-radio-2" class="form-check-input" type="radio" name="gridRadios" value="option2">
            <label class="form-check-label" for="input-horizontal-radio-2">Second radio</label>
          </div>
          <div class="form-check disabled">
            <input id="input-horizontal-radio-3" class="form-check-input" type="radio" name="gridRadios" value="option3" disabled>
            <label class="form-check-label" for="input-horizontal-radio-3">Third disabled radio</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Checkbox</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input id="input-horizontal-checkbox" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="input-horizontal-checkbox">Example checkbox</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button type="button" class="btn btn-primary mr-2">Sign in</button>
          <button type="button" class="btn btn-light">Cancel</button>
        </div>
      </div>
    </form>
  </section>

  <section>
    <h3>Validation</h3>
    <form>
      <div class="form-row">
        <div class="col-md-4 form-group">
          <label for="input-validation-first-name">First name</label>
          <input id="input-validation-first-name" class="form-control is-valid" type="text" placeholder="First name" value="Zhong" required>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-4 form-group">
          <label for="input-validation-last-name">Last name</label>
          <input id="input-validation-last-name" class="form-control is-valid" type="text" placeholder="Last name" value="Zheng" required>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-4 form-group">
          <label for="input-validation-username">Username</label>
          <input id="input-validation-username" class="form-control is-invalid" type="text" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
          <div class="invalid-feedback">Please choose a username.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 form-group">
          <label for="input-validation-city">City</label>
          <input id="input-validation-city" class="form-control is-invalid" type="text" placeholder="City" required>
          <div class="invalid-feedback">Please provide a valid city.</div>
        </div>
        <div class="col-md-3 form-group">
          <label for="input-validation-state">State</label>
          <input id="input-validation-state" class="form-control is-invalid" type="text" placeholder="State" required>
          <div class="invalid-feedback">Please provide a valid state.</div>
        </div>
        <div class="col-md-3 form-group">
          <label for="input-validation-zip">Zip</label>
          <input id="input-validation-zip" class="form-control is-invalid" type="text" placeholder="Zip" required>
          <div class="invalid-feedback">Please provide a valid zip.</div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input id="input-validation-checkbox" class="form-check-input is-invalid" type="checkbox" value="" required>
          <label class="form-check-label" for="input-validation-checkbox">Agree to terms and conditions</label>
          <div class="invalid-feedback">You must agree before submitting.</div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
  </section>

</section>