<section id="media">

  <h2 class="display-4">Media</h2>

  <section>
    <div class="media">
      <img class="rounded-circle mr-3" data-src="holder.js/100x100" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        {% lorem 40 w %}
        <div class="media mt-3">
          <a class="pr-3" href="#">
            <img class="rounded-circle" data-src="holder.js/75x75" alt="Generic placeholder image">
          </a>
          <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            {% lorem 40 w %}
          </div>
        </div>
        <div class="media mt-3">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Media heading</h5>
            {% lorem 40 w %}
          </div>
          <img class="rounded-circle ml-3" data-src="holder.js/75x75" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </section>

  <section>
    <ul class="list-unstyled">
      <li class="media">
        <img class="rounded mr-3" data-src="holder.js/160x120" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          {% lorem 40 w %}
        </div>
      </li>
      <li class="media my-4">
        <img class="rounded mr-3" data-src="holder.js/160x120" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          {% lorem 40 w %}
        </div>
      </li>
      <li class="media">
        <img class="rounded mr-3" data-src="holder.js/160x120" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          {% lorem 40 w %}
        </div>
      </li>
    </ul>
  </section>

</section>
