<section id="alerts">

  <h2 class="display-4">Alerts</h2>

  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading"><i class="fa fa-fw fa-info-circle"></i> For Your Information</h4>
    <p class="mb-0">
      This is a primary alert. Use this for general purpose.
      It could contain <a href="#" class="alert-link">matching colored links</a>.
    </p>
  </div>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading"><i class="fa fa-fw fa-check"></i> Well Done!</h4>
    <p>
      Use this to show a message notifying user that an operation has been completed successfully.
      It could contain <a href="#" class="alert-link">matching colored links</a>.
    </p>
    <hr>
    <p class="mb-0">Typically, a success alert can be dismissed.</p>
    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
  </div>

  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading"><i class="fa fa-fw fa-exclamation-triangle"></i> Beware!</h4>
    <p class="mb-0">
      This is a warning alert. Use this for warnings, errors or other important notice that requires user attention.
      It could contain <a href="#" class="alert-link">matching colored links</a>.
    </p>
  </div>

</section>
