<section id="badge">

  <h2 class="display-4">Badge</h2>

  <section>
    <p>
      <span class="badge badge-primary">Primary</span>
      <span class="badge badge-secondary">Secondary</span>
      <span class="badge badge-dark">Dark</span>
    </p>
    <p>
      <span class="badge badge-pill badge-primary">Primary (pill)</span>
      <span class="badge badge-pill badge-secondary">Secondary (pill)</span>
      <span class="badge badge-pill badge-dark">Dark (pill)</span>
    </p>
    <p>
      <a class="badge badge-primary" href="#">Primary Link</a>
      <a class="badge badge-secondary" href="#">Secondary Link</a>
      <a class="badge badge-dark" href="#">Dark Link</a>
    </p>
  </section>

  <section>
    <p>Badges scale to match the size of the immediate parent element.</p>
    <h1>Example heading <span class="badge badge-primary">New</span></h1>
    <h2>Example heading <span class="badge badge-primary">New</span></h2>
    <h3>Example heading <span class="badge badge-primary">New</span></h3>
    <h4>Example heading <span class="badge badge-primary">New</span></h4>
    <h5>Example heading <span class="badge badge-primary">New</span></h5>
    <h6>Example heading <span class="badge badge-primary">New</span></h6>
  </section>

  <section>
    <p>
      Badges can be used as part of links or buttons to provide a counter.
      (Use the <code>.badge-light</code> variant on a dark background.)
    </p>
    <div>
      <button type="button" class="btn btn-primary">
        Notifications <span class="badge badge-pill badge-light ml-2">4</span>
      </button>
    </div>
  </section>

</section>
