<section id="card">

  <h2 class="display-4">Card</h2>

  <section>
    <h3>Card decks</h3>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px120" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">{% lorem 20 w %}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">{% lorem 10 w %}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">{% lorem 30 w %}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3>Card columns</h3>
    <p>Cards can be organized into Masonry-like columns.</p>
    <div class="card-columns">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card #1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">{% lorem 20 w %}</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px150" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card #2</h5>
          <p class="card-text">{% lorem 20 w %}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card #3</h5>
          <p class="card-text">{% lorem 20 w %}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{% lorem 3 w %}</li>
          <li class="list-group-item">{% lorem 3 w %}</li>
          <li class="list-group-item">{% lorem 3 w %}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card #4</h5>
          <p class="card-text">{% lorem 20 w %}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img class="card-img" data-src="holder.js/100px250?theme=lava" alt="Card image">
        <div class="card-img-overlay">
          <h5 class="card-title">Card #5</h5>
          <p class="card-text">{% lorem 20 w %}</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <a href="#" class="btn btn-outline-light">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Featured</div>
        <div class="card-body">
          <h5 class="card-title">Card #6</h5>
          <p class="card-text">{% lorem 20 w %}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">Updated 2 days ago</div>
      </div>
      <div class="card text-white bg-primary">
        <div class="card-header">With primary background</div>
        <div class="card-body">
          <h5 class="card-title">Card #7</h5>
          <p class="card-text">{% lorem 20 w %}</p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-header">With light background</div>
        <div class="card-body">
          <h5 class="card-title">Card #8</h5>
          <p class="card-text">{% lorem 20 w %}</p>
        </div>
      </div>
    </div>
  </section>

</section>
