<section id="navs">

  <h2 class="display-4">Navs</h2>

  <section>
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action one</a>
          <a class="dropdown-item" href="#">Action two</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
    </ul>
  </section>

  <section>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-home" role="tab">Home</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-profile" role="tab">Profile</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-contact" role="tab">Contact</a></li>
    </ul>
    <div class="tab-content py-2">
      <div id="tab-home" class="tab-pane fade show active" role="tabpanel">Home...</div>
      <div id="tab-profile" class="tab-pane fade" role="tabpanel">Profile...</div>
      <div id="tab-contact" class="tab-pane fade" role="tabpanel">Contact...</div>
    </div>
  </section>

</section>
