<section id="placeholders">

  <h2 class="display-4">Placeholders</h2>
  <p class="lead">Facebook-style content loading placeholders.</p>

  <section>
    <h3 class="lighter">Media</h3>
    <div class="media mt-3">
      <div class="placeholder placeholder-img rounded mr-3"></div>
      <div class="media-body">
        <h2 class="placeholder placeholder-h2 placeholder-w75"></h2>
        <div class="placeholder placeholder-p"></div>
        <div class="placeholder placeholder-p"></div>
        <div class="placeholder placeholder-p placeholder-w50"></div>
      </div>
    </div>
  </section>

  <section>
    <h3 class="lighter">Table</h3>
    <p>Use small (<code>table-sm</code>) and borderless (<code>table-borderless</code>) table for a better display.</p>
    <table class="table table-sm table-borderless">
      <tbody>
        <tr>
          <td><div class="placeholder placeholder-cell"></div></td>
          <td><div class="placeholder placeholder-cell"></div></td>
          <td><div class="placeholder placeholder-cell"></div></td>
        </tr>
        <tr>
          <td><div class="placeholder placeholder-cell"></div></td>
          <td><div class="placeholder placeholder-cell"></div></td>
          <td><div class="placeholder placeholder-cell"></div></td>
        </tr>
        <tr>
          <td><div class="placeholder placeholder-cell"></div></td>
          <td><div class="placeholder placeholder-cell"></div></td>
          <td><div class="placeholder placeholder-cell"></div></td>
        </tr>
      </tbody>
    </table>
  </section>

</section>
