<section id="stars">

  <h2 class="display-4">Stars</h2>

  <section>
    <h3>Stars Display</h3>
    <div>
      <span class="stars">
        <span class="stars-fill" style="width: 50%;"></span>
      </span>
    </div>
  </section>

  <section>
    <h3>Stars Input</h3>
    <div>
      <span class="stars-input stars-input-lg">
        <input type="radio" id="star5-lg" name="rating-lg" value="5"/><label for="star5-lg"></label>
        <input type="radio" id="star4-lg" name="rating-lg" value="4"/><label for="star4-lg"></label>
        <input type="radio" id="star3-lg" name="rating-lg" value="3"/><label for="star3-lg"></label>
        <input type="radio" id="star2-lg" name="rating-lg" value="2"/><label for="star2-lg"></label>
        <input type="radio" id="star1-lg" name="rating-lg" value="1"/><label for="star1-lg"></label>
      </span>
      <span class="text-muted ml-2">Size: lg</span>
    </div>
    <div>
      <span class="stars-input stars-input-xl">
        <input type="radio" id="star5-xl" name="rating-xl" value="5"/><label for="star5-xl"></label>
        <input type="radio" id="star4-xl" name="rating-xl" value="4"/><label for="star4-xl"></label>
        <input type="radio" id="star3-xl" name="rating-xl" value="3"/><label for="star3-xl"></label>
        <input type="radio" id="star2-xl" name="rating-xl" value="2"/><label for="star2-xl"></label>
        <input type="radio" id="star1-xl" name="rating-xl" value="1"/><label for="star1-xl"></label>
      </span>
      <span class="text-muted ml-2">Size: xl</span>
    </div>
  </section>

</section>
