<section id="timeline">
  <h2 class="display-4">Timeline</h2>
  <ul class="timeline">
    <li>
      <i class="timeline-icon fa fa-fw fa-user"></i>
      <div class="timeline-item">
        <h3>1979</h3>
        {% lorem 2 p %}
      </div>
    </li>
    <li>
      <i class="timeline-icon fa fa-fw fa-user"></i>
      <div class="timeline-item">
        <h3>1986</h3>
        <p>{% lorem 6 w %}</p>
      </div>
    </li>
    <li>
      <i class="timeline-icon fa fa-fw fa-user"></i>
      <div class="timeline-item">
        <h3>1997</h3>
        {% lorem 1 p %}
      </div>
    </li>
  </ul>
</section>
