<nav id="topbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!--
    <a class="navbar-brand" href="#">Frontend Theme</a>
    -->
    <a class="navbar-brand" href="#">
      <img class="navbar-brand-logo" data-src="holder.js/36x36" alt="Brand Logo">
      <span class="navbar-brand-text">Frontend Theme</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbar-supported-content">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="topbar-supported-content" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="ic ic-home"></i> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="ic ic-search"></i> Search
          </a>
          <div class="dropdown-menu">
            <form class="form-inline" role="search" method="get">
              <div class="input-group" style="width: 25rem;">
                <input class="form-control" type="search" placeholder="Search Keyword..."/>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">Search</button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="ic ic-ellipsis"></i> More
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="ic ic-question"></i> Help</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="ic ic-user"></i> User
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="ic ic-id-card"></i> Profile</a>
            <a class="dropdown-item" href="#"><i class="ic ic-cogs"></i> Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="ic ic-sign-out"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
