@import "~bootstrap/scss/variables";

.card.card-light {
  background-color: $light;
  border-color: $light;
}

.card.card-shadowed-on-hover {
  &:hover {
    // offset-x offset-y blur-radius spread-radius color
    // See: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
  }
}
