@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

footer {
  margin-top: 2rem;
  padding: 2rem 0;
  font-size: .8rem;
  color: $gray-600;
  background-color: $gray-200;

  a {
    color: $gray-600;
    font-weight: 600;
    text-decoration: none;
    &:hover, &:focus {
      color: $primary;
      text-decoration: none;
    }
  }

  .list-inline li.list-inline-item {
    border-left: 1px solid $gray-500;
    padding: 0 .75rem 0 .75rem;
    margin-right: 0 !important;
    &:first-child {
      border-left: none;
      padding-left: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 1rem;
    padding: 1rem 0;
  }
}
