{% load static %}
{% load frontend %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="{% static 'frontend/dist/vendors.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/dist/common.css' %}" rel="stylesheet"/>
    <link href="{% frontend_css app_name %}" rel="stylesheet"/>
    {% if app_css %}
      <link href="{% static app_css %}" rel="stylesheet"/>
    {% endif %}
    <title>Bug Garden</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="{% static 'frontend/dist/vendors.bundle.js' %}"></script>
    <script src="{% static 'frontend/dist/common.bundle.js' %}"></script>
    <script src="{% static 'frontend/dist/spa.bundle.js' %}"></script>
    <script src="{% frontend_js app_name %}"></script>
  </body>
</html>
